alembic==1.14.1
annotated-types==0.7.0
anyio==4.5.2
bcrypt==4.0.1
email-validator==2.2.0
fastapi==0.116.1
httpx==0.28.1
orjson==3.10.15
psycopg2-binary==2.9.10
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.20
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-extra-types==2.10.5
pydantic-settings==2.8.1
passlib[bcrypt]==1.7.4
PyJWT==2.10.1         
sqlalchemy==2.0.43
uvicorn==0.33.0
uvloop==0.21.0
watchfiles==0.24.0
requests==2.32.3       
urllib3==2.2.3         
cloudinary==1.44.1
